<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>毕业设计商城</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
</head>
<body>
<div layout:fragment="content" class="home">
<div class="page-title-bar">
   <div class="container">
     <h1>定制说明</h1>
   </div>
 </div>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div>
          <h3 style="color: rgb(67, 160, 71)">什么是定做，定制和成品的区别？</h3>
          <p>定制毕业设计作品就是我们根据您的任务书或开题报告要求量身订做</p>
          <p>由于定做花的人力,时间比较多,价格较贵,现成的都是做好的,购买马上就可以收到,价格便宜。</p>
          <p>毕业设计有定做和成品两种模式，可以从几个方面比较一下它们的区别，以便更好选择：</p>
          <p>1、性价比：定做价格比较高，买成品价格相对较低；</p>
          <p>2、时效性：定做是根据您的要求重新做一份，一般需要一至两周的时间，成品是已经做好的，购买后马上可以得到；</p>
          <p>3、适用性：定做适用于毕业设计有具体的要求，成品适用于没有具体要求的</p>
      </div>
      <div>
          <h3 style="color: rgb(67, 160, 71)">定制流程</h3>
          <p>1. 将具体要求或任务书发送客服,确定制作周期和费用.</p>
          <p>2. 制作周期和相关费用定好后,需预支付总款项的40%作为启动</p>
          <p>3. 我们完成后通过预览或发送录像的方式,让客户确认.</p>
          <p>4. 确认无异议后支付剩余60%的费用，我们将通过指定的邮箱或QQ发送给客户.</p>
          <p>5. 定制周期一般是在3-7天,实际时间根据具体设计要求来定.</p>
      </div>
      <div style="margin-bottom: 20px;">
        <h3 style="color: rgb(67, 160, 71)">价格说明：</h3>
        <p>(注意 价格根据您的要求来定, 所以一定要把详细的要求说清楚,没有要求或者要求不清楚的无法确定价格)</p>
        <p>毕业设计和论文定做的价格根据制作难易度和复杂度来定</p>
        <p>计算机毕业设计定做价格: 1200￥起, <b>团购可适当优惠</b></p>
      </div>
    </div>
    <div class="col-lg-3">
      <h3>联系我们</h3>
      <p>如有任何疑问,请通过电话、微信、QQ联系我们</p>
    </div>
  </div>
</div>
</div>
</body>
</html>